* {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1,
footer {
  color: orchid;
}

h2,
.loader {
  color: lightpink;
}

h3,
body {
  color: whitesmoke;
}

.headerContainer {
  display: flex;
  align-items: center;
  padding: 15px;
}

a:hover {
  background-color: lightpink;
  cursor: pointer;
}

.articlePreview {
  list-style-type: none;
}
