* {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2,
h4,
h5,
footer {
  color: orchid;
}

.loader,
h1,
h3,
body {
  color: whitesmoke;
}

.headerContainer {
  display: flex;
  align-items: center;
  padding: 15px;
}

.commentSubmitButton {
  color: purple;
  display: block;
}

a:hover {
  background-color: purple;
  cursor: pointer;
  display: block;
}

.articlePreview,
.comment {
  list-style-type: none;
}
