* {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body,
h1,
h3,
.loader,
.articlePageTitle,
.comments-header {
  color: whitesmoke;
}

h2,
h4,
h5,
footer {
  color: orchid;
}

.headerContainer {
  display: flex;
  align-items: center;
  padding: 15px;
}

a:hover {
  display: block;
  background-color: purple;
  cursor: pointer;
}

.commentSubmitButton {
  color: purple;
}

.commentDeleteButton {
  color: red;
}

.articlePreview,
.comment {
  list-style-type: none;
}
