* {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Times New Roman", sans-serif;
}

h2,
body {
  background-color: black;
  color: whitesmoke;
}

.headerContainer {
  display: flex;
  align-items: center;
  padding: 15px;
}

a:hover {
  background-color: lightpink;
  cursor: pointer;
}

h1,
footer {
  color: orchid;
}

h3 {
  color: lightpink;
}
