* {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body,
h1,
h3,
.loader,
.articlePageTitle,
.comments-header {
  color: whitesmoke;
}

h2,
h4,
h5,
footer {
  color: orchid;
}

.headerContainer {
  display: flex;
  align-items: center;
  padding: 15px;
}

a:hover {
  display: block;
  background-color: purple;
  cursor: pointer;
}

.commentSubmitButton {
  color: purple;
}

.commentDeleteButton {
  color: red;
}

.delete-button:hover:not(:disabled) {
  background-color: #c82333;
}

.delete-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
  opacity: 0.65;
}

.comment-delete {
  margin-top: 10px;
}

.comment-delete .error-message {
  color: #dc3545;
  font-size: 12px;
  margin-top: 5px;
}

.articlePreview,
.comment {
  list-style-type: none;
}
